{{#extends "base"}}

{{#block "title"}}
Home
{{/block}}

{{#block "content"}}
    <h1 class="display-1">Home</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dicta rerum tempore provident reiciendis, expedita sapiente consequatur quibusdam quasi, deleniti, fugit maiores. Sequi modi rerum nulla unde praesentium earum voluptatum.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quam eum minima temporibus neque eius et. Et excepturi eum sapiente delectus cumque sequi consectetur asperiores hic. Doloribus quisquam culpa quasi?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia omnis dolores repellendus consectetur sunt consequuntur sint rerum aut eligendi facilis vero quae ut accusamus, amet nam et placeat, delectus aspernatur.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, accusantium quisquam iusto modi ullam eveniet culpa voluptate vero magnam quibusdam nobis quos illo doloremque odio quam sit dignissimos odit. Officiis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure eaque ducimus mollitia! Qui, autem dolore ipsam eaque veniam at suscipit libero, repellendus, illo iste aut ratione repellat modi natus ex!
    </p>
{{/block}}

{{/extends}}